client/node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
client/.DS_Store
server/.env

# Temporary files created by Metro to check the health of the file watcher
client/.metro-health-check*

client/google-services.json
client/GoogleService-Info.plist
client/library/config.js